ConsoleApp1/
FrequencyAnalysis/
GammaCiphering/
Lab1/
Lab1Color/
Lab1Menu/
Lab1w/
WpfApp1/
WpfApp2/

bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json

# Исключить временные файлы
.vs/
*.swp
*.swo
*~
.DS_Store
Thumbs.db